# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Goto translation in \'en\''
      'command': 'findtranslate:findEn'
    },
    {
      'label': 'Goto translation in \'sv\''
      'command': 'findtranslate:findSv'
    }
  ]
# 'menu': [
#   {
#     'label': 'Packages'
#     'submenu': [
#       'label': 'findtranslate'
#       'submenu': [
#         {
#           'label': 'Toggle'
#           'command': 'findtranslate:toggle'
#         }
#       ]
#     ]
#   }
# ]
